/*  your css code here. If applicable */
.Songbox {
	width: 100%;
	height: 120px;
	border: 2px solid black;
	background-color: white;
	border-radius: 8px;
}

.play {
	width: 100%;
	height: 50%;
	background-color: white;
	border-radius: 8px;
	style: text-align: center;
}

.a {
	text-decoration-line: none;
}

.play {
	padding: 20px;
	background-color: rgb(255, 255, 255);
	border: 2px solid black;
}
